<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="mailto" android:host="deewend.com" />
        </intent>
    </queries>

    <application
        android:name=".Cheshka"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cheshka">

        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:theme="@style/Theme.Cheshka">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CaptchaChallengeActivity"
            android:exported="false" />

        <activity
            android:name=".HomeMenuActivity"
            android:exported="false" />

        <activity
            android:name=".MatchmakingActivity"
            android:exported="false" />

        <activity
            android:name=".InGameActivity"
            android:exported="false" />

        <activity
            android:name=".DisconnectedActivity"
            android:exported="false" />

        <activity
            android:name=".ContextLostActivity"
            android:exported="false" />
    </application>
</manifest>